export(annotate.gwas)
export(calc.enrich)
export(fix_chrs)
export(hub.search)
export(import.gwas)
export(pull.features)
export(serial.enrich)
import(GenomicRanges)
import(IRanges)
importFrom(AnnotationHub,AnnotationHub)
importFrom(AnnotationHub,metadata)
importFrom(Biobase,testBioCConnection)
importFrom(GenomicFeatures,getChromInfoFromUCSC)
importFrom(foreach,getDoParWorkers)
importFrom(parallel,mclapply)
importFrom(reshape2,melt)
importFrom(rtracklayer,ucscGenomes)
