export(annotate.gwas)
export(calc.enrich)
export(features)
export(fix_chrs)
export(import.gwas)
export(serial.enrich)
import(GenomicRanges)
import(IRanges)
importFrom(AnnotationHub,AnnotationHub)
importFrom(AnnotationHub,metadata)
importFrom(GenomicFeatures,getChromInfoFromUCSC)
importFrom(plyr,as.quoted)
importFrom(plyr,ddply)
importFrom(plyr,rename)
importFrom(reshape2,melt)
importFrom(rtracklayer,ucscGenomes)
